<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="ru.poqxert.godotappodeal">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <application android:networkSecurityConfig="@xml/network_security_config"
        android:name="androidx.multidex.MultiDexApplication">
        <meta-data
            android:name="org.godotengine.plugin.v1.GodotAppodeal"
            android:value="ru.poqxert.godotappodeal.GodotAppodeal" />
    </application>
</manifest>